<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h2 class="text-titles">CARRITO DE COMPRAS</h2>
      <div class="container-checkout">
        <div class="container-products">
          <div class="container-cart">
            <img
              src="/img/outwell-saco-de-dormir-camper-0-c.jpg"
              alt="Saco de Dormir Outwell Camper 0ºC"
            />
            <div class="titulos-cart">
              <p>Saco de Dormir Outwell Camper 0ºC</p>
              <div class="container-cart-options">
                <div class="cart-options">
                  <label for="quantity">Cantidad:</label>
                  <select name="quantity" id="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <p class="cart-price">$13.975</p>
              </div>
            </div>
          </div>
          <div class="container-cart">
            <img
              src="/img/columbus-tienda-de-campana-enol-5p-closed.jpg"
              alt="Tienda de Campaña Columbus Enol 5P"
            />
            <div class="titulos-cart">
              <p>Tienda de Campaña Columbus Enol 5P</p>
              <div class="container-cart-options">
                <div class="cart-options">
                  <label for="quantity">Cantidad:</label>
                  <select name="quantity" id="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <p class="cart-price">$27.790</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-endcart">
          <div class="subtotal-cart">
            <h2>Subtotal:</h2>
            <p class="subtotal-price">$41.765</p>
          </div>
          <div class="form-div">
            <button class="boton-ppal color-primario">Ir a pagar</button>
          </div>
          <div class="form-div">
            <button class="boton-ppal color-secundario">Seguir comprando</button>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
