<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <title>Productos | DeCamping.com</title>
        <link rel="stylesheet" href="/css/utils.css">
        <link rel="stylesheet" href="/css/styles-sm.css">
        <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)">
        <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)">
</head>
<body>
        <header class="color-terciario">
                <div class="container">
                    <i class="fas fa-bars menu"></i>
                    <div class="container-logo">
                        <img src="/img/logo-decamping.png" alt="logo" class="logo">
                    </div>
                    <i class="far fa-user iconos-derecha"></i>
                    <i class="fas fa-shopping-cart iconos-derecha"></i>
                </div>
                <div class="container-searchbar">
                    <input type="text" class="search-bar shadow" placeholder="Buscar">
        
                </div>
                <nav class="navegacion">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Camping</a></li>
                        <li><a href="">Montaña</a></li>
                        <li><a href="">Escalada</a></li>
                        <li><a href="">SKI</a></li>
        
                    </ul>
                </nav>
            </header>
            <div id="fullPage">
                <div class="section section1">
                    <div class="slide">
                        <h1>First slide</h1>
                        <img src="/img/mochila-doite-tanganika-80l.jpg" alt="">

                    </div>
                </div>
            </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    new fullpage('#fullPage',{
        autoscrolling: true,
        /*navigation: true,
        scrollingSpeed: 500,
        controlArrows: false, /*Esto es para sacar las flechas de los prods
        continuousHorizontal: true */
    })

</script>
</body>
</html>