<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Home | DeCamping.com</title>
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/styles-sm.css">
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)">
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)">
</head>
<body>
    <header>
        <div class="container">
            <i class="fas fa-bars menu"></i>
            <img src="/img/Yanbal-logo.png" alt="logo" class="logo">
            <i class="far fa-user iconos-derecha"></i>
            <i class="fas fa-shopping-cart iconos-derecha"></i>
        </div>
        <div class="container-searchbar">
            <input type="text" class="search-bar shadow" placeholder="Buscar">

        </div>
        <nav class="navegacion">
            <ul>
                <li>Home</li>
                <li>Camping</li>
                <li>Montaña</li>
                <li>Escalada</li>
                <li>SKI</li>

            </ul>
        </nav>
    </header>
    <main>
<!-- DIV DEL CAROUSEL, PENDING!!!

        <div class="carousel">
            <div class="item">
                <h3>Item 1 del Carousel</h3>
            </div>
            <div class="item">
                <h3>Item 2 del Carousel</h3>
            </div>
            <div class="item">
                <h3>Item 3 del Carousel</h3>
            </div>
            <div class="item">
                <h3>Item 4 del Carousel</h3>
            </div>
            <div class="item">
                <h3>Item 5 del Carousel</h3>
            </div>
        </div>

-->
        <img class="carousel" src="/img/carousel-img.jpeg" alt="#">
        <section>
            <h2 class="text-titles">CATEGORIAS</h2>
            <div class="flex">
                <div class="categories camping"></div>
                <div class="categories escalada"></div>
                <div class="categories ski"></div>
                <div class="categories montanismo"></div>
            </div>
        </section>
        <section>
            <h2 class="text-titles">PROD. DESTACADOS</h2>
            <div class="product-wrapper">
                <article class="prod-destacado">
                    <img class="prod-img" src="/img/carpa-iglu-spinit-camper-6p.jpg" alt="Carpa Iglu Spinit Camper 6P">
                    <div class="article-box">
                        <p class="text-prices">$21.600</p>
                        <h3 class="text-description">Carpa Iglu Spinit Camper - 6P</h3>
                    </div>
                </article>
            </div>
            <div class="product-wrapper">
                <article class="prod-destacado">
                    <img class="prod-img" src="/img/bolsa-dormir-coleman-dexter-point.jpg" alt="Bolsa De Dormir Coleman Dexter Point">
                    <div class="article-box">
                        <p class="text-prices">$12.500</p>
                        <h3 class="text-description">Bolsa De Dormir Coleman Dexter Point</h3>
                    </div>
                </article>
            </div>
            <div class="product-wrapper">
                <article class="prod-destacado">
                    <img class="prod-img" src="/img/mochila-doite-tanganika-80l.jpg" alt="Mochila Doite Tanganika 80 lts">
                    <div class="article-box">
                        <p class="text-prices">$33.250</p>
                        <h3 class="text-description">Mochila Doite Tanganika - 80 lts</h3>
                    </div>
                </article>
            </div>
            <div class="product-wrapper">
                <article class="prod-destacado">
                    <img class="prod-img" src="/img/mochila-mochilero-discovery-40l.jpg" alt="Mochila Mochilero Discovery Tactica 40 lts">
                    <div class="article-box">
                        <p class="text-prices">$6.100</p>
                        <h3 class="text-description">Mochila Mochilero Discovery Tactica - 40 lts</h3>
                    </div>
                </article>
            </div>
        </section>
        <button class="button-prod"><span>VER TODOS LOS PRODUCTOS</span></button>
    </main>
</body>
</html>