<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <title>Home | DeCamping.com</title>
        <link rel="stylesheet" href="/css/utils.css">
        <link rel="stylesheet" href="/css/styles-sm.css">
        <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)">
        <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1024px)">
    </head>

    <body>
        <header class="color-terciario">
            <div class="container">
                <i class="fas fa-bars menu"></i>
                <div class="container-logo">
                    <img src="/img/logo-decamping.png" alt="logo" class="logo">
                </div>
                <i class="far fa-user iconos-derecha"></i>
                <i class="fas fa-shopping-cart iconos-derecha"></i>
            </div>
            <div class="container-searchbar">
                <input type="text" class="search-bar shadow" placeholder="Buscar">

            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Camping</a></li>
                    <li><a href="">Montaña</a></li>
                    <li><a href="">Escalada</a></li>
                    <li><a href="">SKI</a></li>

                </ul>
            </nav>
        </header>

        <main>
    <!-- DIV DEL CAROUSEL, PENDING!!!

            <div class="carousel">
                <div class="item">
                    <h3>Item 1 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 2 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 3 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 4 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 5 del Carousel</h3>
                </div>
            </div>
    -->
            <img class="carousel" src="/img/carousel-img.jpeg" alt="#">
            <section class="categories-section">
                <h2 class="text-titles">CATEGORIAS</h2>
                <div class="flex">
                    <div class="categories camping"></div>
                    <div class="categories escalada"></div>
                    <div class="categories ski"></div>
                    <div class="categories montanismo"></div>
                </div>
            </section>
            <section>
                <h2 class="text-titles">PROD. DESTACADOS</h2>
                <div class="flex">
                    <div class="product-wrapper">
                        <article class="prod-destacado">
                            <img class="prod-img" src="/img/osprey-mochila-stratos-36l.jpg" alt="Mochila Osprey Stratos 36L">
                            <div class="article-box">
                                <p class="text-prices">$21.875</p>
                                <h3 class="text-description">Mochila Osprey Stratos 36L</h3>
                            </div>
                        </article>
                    </div>
                    <div class="product-wrapper">
                        <article class="prod-destacado">
                            <img class="prod-img" src="/img/petzl-arnes-fly.jpg" alt="Arnés Petzl Fly">
                            <div class="article-box">
                                <p class="text-prices">$16.644</p>
                                <h3 class="text-description">Arnés Petzl Fly</h3>
                            </div>
                        </article>
                    </div>
                    <div class="product-wrapper">
                        <article class="prod-destacado">
                            <img class="prod-img" src="/img/outwell-saco-de-dormir-camper-0-c.jpg" alt="Saco de Dormir Outwell Camper 0ºC">
                            <div class="article-box">
                                <p class="text-prices">$13.975</p>
                            <h3 class="text-description">Saco de Dormir Outwell Camper 0ºC</h3>
                            </div>
                        </article>
                    </div>
                    <div class="product-wrapper">
                        <article class="prod-destacado">
                            <img class="prod-img" src="/img/columbus-tienda-de-campana-enol-5p-closed.jpg" alt="Tienda de Campaña Columbus Enol 5P">
                            <div class="article-box">
                                <p class="text-prices">$27.790</p>
                                <h3 class="text-description">Tienda de Campaña Columbus Enol 5P</h3>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <button class="button-prod"><span>VER TODOS LOS PRODUCTOS</span></button>
        </main>

        <footer>
            <div class="info-footer">
                <nav class="footer-nav">
                    <div class="footer-div">
                        <label for="touch-1"><span class="nav-span">E-SHOP</span></label>
                        <input type="checkbox" id="touch-1">
                        <ul class="dropdown-ul">
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Envíos y dev.</a></li>
                            <li><a href="#">Promos bancarias</a></li>
                        </ul>
                    </div>
                    <div class="footer-div">
                        <label for="touch-2"><span class="nav-span">INFORMACIÓN</span></label>
                        <input type="checkbox" id="touch-2">
                        <ul class="dropdown-ul">
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Preg. Frecuentes</a></li>
                        </ul>
                    </div>
                    <div class="footer-div">
                        <label for="touch-3"><span class="nav-span">CUENTA</span></label>
                        <input type="checkbox" id="touch-3">
                        <ul class="dropdown-ul">
                            <li><a href="#">Registrate</a></li>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#">Carrito</a></li>
                        </ul>
                    </div>
                </nav>
                <hr class="mobile-footer-hr">
                <div class="newsletter">
                    <label class="" for="">NEWSLETTER</label>
                    <p>Registrate para recibir las últimas novedades y ofertas!</p>
                    <input type="email" name="email" placeholder="Ingrese su e-mail">
                    <button class="" type="submit" href="#">Enviar</button>
                </div>
            </div>
            <hr class="desktop-footer-hr">
            <div class="info-footer-2">
                <div class="compra-telefonica">
                    <h3>Compra telefónica</h3>
                    <i class="fas fa-phone-alt"></i>︁<span>0810-333-4444</span>
                </div>
                <div class="follow-us flex">
                    <h3>Seguinos en:</h3>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
                <div class="terms flex">
                    <a href="#">Términos y Condiciones <i class="fas fa-book-open"></i></a>
                    <a href="#">Politica de Privacidad <i class="fas fa-exclamation-circle"></i></a>
                </div>
        </footer>
    </body>
    
</html>