<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/styles-sm.css">
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)">
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)">
</head>
<body>
    <header>
        <img src="/img/logo-ejemplo-1.png" alt="logo" class="logo">
        <input type="text" class="search-bar shadow">
        <div class="container">
                <i class="fas fa-bars"></i>
                <i class="far fa-user iconos-derecha"></i>
                <i class="fas fa-shopping-cart iconos-derecha"></i>
        </div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Camping</li>
                <li>Montaña</li>
                <li>Escalada</li>
                <li>SKI</li>

            </ul>
        </nav>

    </header>

Home:

- Barra de navegacion (Logo, lupita, login, cart, burger)
- Carrousel
- Categorias con botones
- Productos destacados
- Informacion general? Tipo de entrega, calidad, etc?
- Footer completo
 
</body>
</html>