* {
    box-sizing: border-box;
}

/* -------------------- Globales ------------------ */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;

}


/* ----------------- Clases genéricas --------------------*/
.align-center {
    text-align: center
}

.icono-grande {
    font-size:2em;
    margin-bottom: 10px
}
.magin-0 {
    margin: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


/* ------------------- Colores ---------------------------*/

.color-primario {
    color: #023E73
}

.color-secundario {
    color: #2b5f8c
}

.color-tercero {
    color: #365946
}

.color-cuarto {
    color: #D9D7C5
}

.color-quinto {
    color: #F2C49B
}
