<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main class="fullpage-main">
      <div id="fullPage">
        <div class="section">
          <div class="slide">
            <div class="floating-elements-right">
              <div class="floating-content">
                <div>
                  <button class="floating-button"><i class="fas fa-plus"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fa fa-heart"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fas fa-shopping-cart"></i></button>
                </div>
              </div>
            </div>
            <div class="floating-product-name">
              <div class="floating-product-content">
                <h1>Mochila</h1>
                <h3>$1500</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ut! Tenetur,
                  nulla! Quia quam culpa ratione officia, sequi neque atque officiis quod facilis
                  magni, in minus corrupti laboriosam, harum recusandae?
                </p>
              </div>
            </div>
            <div class="product-image">
              <img src="/img/osprey-mochila-stratos-36l-back.jpg" alt="" />
            </div>
          </div>
          <!--End slide -->
        </div>
        <!--End section -->
        <div class="section">
          <div class="slide">
            <div class="floating-elements-right">
              <div class="floating-content">
                <div>
                  <button class="floating-button"><i class="fas fa-plus"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fa fa-heart"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fas fa-shopping-cart"></i></button>
                </div>
              </div>
            </div>
            <div class="floating-product-name">
              <div class="floating-product-content">
                <h1>Mochila</h1>
                <h3>$1500</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ut! Tenetur,
                  nulla! Quia quam culpa ratione officia, sequi neque atque officiis quod facilis
                  magni, in minus corrupti laboriosam, harum recusandae?
                </p>
              </div>
            </div>
            <div class="product-image">
              <img src="/img/osprey-mochila-stratos-36l.jpg" alt="" />
            </div>
          </div>
          <!--End slide -->
        </div>
        <!--End section -->

        <div class="section">
          <div class="slide">
            <div class="floating-elements-right">
              <div class="floating-content">
                <div>
                  <button class="floating-button"><i class="fas fa-plus"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fa fa-heart"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fas fa-shopping-cart"></i></button>
                </div>
              </div>
            </div>
            <div class="floating-product-name">
              <div class="floating-product-content">
                <h1>Bolsa de Dormir</h1>
                <h3>$1500</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ut! Tenetur,
                  nulla! Quia quam culpa ratione officia, sequi neque atque officiis quod facilis
                  magni, in minus corrupti laboriosam, harum recusandae?
                </p>
              </div>
            </div>
            <div class="product-image">
              <img src="/img/outwell-saco-de-dormir-camper-0-c.jpg" alt="" />
            </div>
          </div>
          <!--End slide -->
        </div>
        <!--End section -->
        <div class="section">
          <div class="slide">
            <div class="floating-elements-right">
              <div class="floating-content">
                <div>
                  <button class="floating-button"><i class="fas fa-plus"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fa fa-heart"></i></button>
                </div>
                <div>
                  <button class="floating-button"><i class="fas fa-shopping-cart"></i></button>
                </div>
              </div>
            </div>
            <div class="floating-product-name">
              <div class="floating-product-content">
                <h1>Arnes</h1>
                <h3>$1500</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ut! Tenetur,
                  nulla! Quia quam culpa ratione officia, sequi neque atque officiis quod facilis
                  magni, in minus corrupti laboriosam, harum recusandae?
                </p>
              </div>
            </div>
            <div class="product-image">
              <img src="/img/petzl-arnes-fly.jpg" alt="" />
            </div>
          </div>
          <!--End slide -->
        </div>
        <!--End section -->
      </div>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
        integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
      <script>
        new fullpage("#fullPage", {
          autoscrolling: true,
          /*navigation: true,
                    scrollingSpeed: 500,
                    controlArrows: false, /*Esto es para sacar las flechas de los prods
                    continuousHorizontal: true */
        });
      </script>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
