<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <!-- DIV DEL CAROUSEL, PENDING!!!

            <div class="carousel">
                <div class="item">
                    <h3>Item 1 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 2 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 3 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 4 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 5 del Carousel</h3>
                </div>
            </div>
    -->
      <img class="carousel" src="/img/carousel-img.jpeg" alt="#" />
      <section class="categories-section">
        <h2 class="text-titles">CATEGORIAS</h2>
        <div class="flex">
          <div class="categories camping"></div>
          <div class="categories escalada"></div>
          <div class="categories ski"></div>
          <div class="categories montanismo"></div>
        </div>
      </section>
      <section>
        <h2 class="text-titles">PROD. DESTACADOS</h2>
        <!-- En version mobile convertir en slider para ocupar menos espacio -->
        <div class="flex">
          <% for (product of products) { %>
            <% if(product.starred == true) { %>
            <%- include("./partials/product-box.ejs") %>
              <% }  %>
            <% }  %>
        </div>
      </section>
      <section>
        <h2 class="text-titles">OFERTAS</h2>
        <div class="flex">
          <div class="product-wrapper">
            <article class="prod-destacado">
              <img
                class="prod-img"
                src="/img/osprey-mochila-stratos-36l.jpg"
                alt="Mochila Osprey Stratos 36L"
              />
              <div class="article-box">
                <p class="text-prices">$21.875</p>
                <h3 class="text-description">Mochila Osprey Stratos 36L</h3>
              </div>
            </article>
          </div>
          <div class="product-wrapper">
            <article class="prod-destacado">
              <img class="prod-img" src="/img/petzl-arnes-fly.jpg" alt="Arnés Petzl Fly" />
              <div class="article-box">
                <p class="text-prices">$16.644</p>
                <h3 class="text-description">Arnés Petzl Fly</h3>
              </div>
            </article>
          </div>
          <div class="product-wrapper">
            <article class="prod-destacado">
              <img
                class="prod-img"
                src="/img/outwell-saco-de-dormir-camper-0-c.jpg"
                alt="Saco de Dormir Outwell Camper 0ºC"
              />
              <div class="article-box">
                <p class="text-prices">$13.975</p>
                <h3 class="text-description">Saco de Dormir Outwell Camper 0ºC</h3>
              </div>
            </article>
          </div>
          <div class="product-wrapper">
            <article class="prod-destacado">
              <img
                class="prod-img"
                src="/img/columbus-tienda-de-campana-enol-5p-closed.jpg"
                alt="Tienda de Campaña Columbus Enol 5P"
              />
              <div class="article-box">
                <p class="text-prices">$27.790</p>
                <h3 class="text-description">Tienda de Campaña Columbus Enol 5P</h3>
              </div>
            </article>
          </div>
        </div>
      </section>
      <button class="button-prod"><span>VER TODOS LOS PRODUCTOS</span></button>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
