<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h1 class="text-titles login-register">CREAR CUENTA</h1>
      <div class="register-wrapper">
        <div class="content-wrapper-1">
          <form class="register-form" action="#" method="GET">
            <div class="form-div">
              <label class="form-label" for="">Nombre</label>
              <input type="text" name="name" placeholder="Ingrese su nombre" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="">Apellido</label>
              <input type="text" name="Surname" placeholder="Ingrese su apellido" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="">Dirección de correo electrónico</label>
              <input type="email" name="email" placeholder="Ej: ejemplo@gmail.com" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="">Contraseña</label>
              <input type="password" name="password" placeholder="Ingrese su contraseña" required />
              <p>La contraseña debe tener al menos 6 caracteres.</p>
            </div>
            <div class="form-div">
              <label class="form-label" for="">Confirmar contraseña</label>
              <input type="password" name="password" placeholder="Repita su contraseña" required />
            </div>
            <div class="form-div">
              <h3 class="form-bases">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor laboriosam
                esse fuga sapiente dolores quae. Itaque earum deserunt molestias reiciendis dolore
                totam sequi repellendus.
              </h3>
            </div>
            <div class="form-div">
              <button class="boton-ppal color-primario" type="submit" href="#">REGISTRARSE</button>
            </div>
          </form>
        </div>
        <div class="vertical-line"></div>
        <div class="content-wrapper-2">
          <div class="form-div">
            <i class="far fa-user login-icon"></i>
            <h3>Ya tenés una cuenta?</h3>
            <a href="/login"><h2>INGRESAR</h2></a>
            <hr class="decoration-line-register" />
          </div>
        </div>
      </div>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
