<footer>
  <div class="info-footer">
    <nav class="footer-nav">
      <div class="footer-div">
        <label for="touch-1"><span class="nav-span">E-SHOP</span></label>
        <input type="checkbox" id="touch-1" />
        <ul class="dropdown-ul">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Envíos y dev.</a></li>
          <li><a href="#">Promos bancarias</a></li>
        </ul>
      </div>
      <div class="footer-div">
        <label for="touch-2"><span class="nav-span">INFORMACIÓN</span></label>
        <input type="checkbox" id="touch-2" />
        <ul class="dropdown-ul">
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Preg. Frecuentes</a></li>
        </ul>
      </div>
      <div class="footer-div">
        <label for="touch-3"><span class="nav-span">CUENTA</span></label>
        <input type="checkbox" id="touch-3" />
        <ul class="dropdown-ul">
          <li><a href="../users/register">Registrate</a></li>
          <li><a href="#">Mi cuenta</a></li>
          <li><a href="../products/productCart">Carrito</a></li>
        </ul>
      </div>
    </nav>
    <hr class="mobile-footer-hr" />
    <div class="newsletter">
      <label class="" for="">NEWSLETTER</label>
      <p>Registrate para recibir las últimas novedades y ofertas!</p>
      <input type="email" name="email" placeholder="Ingrese su e-mail" />
      <button class="" type="submit" href="#">Enviar</button>
    </div>
  </div>
  <hr class="desktop-footer-hr" />
  <div class="info-footer-2">
    <div class="compra-telefonica">
      <h3>Compra telefónica</h3>
      <i class="fas fa-phone-alt"></i>︁<span>0810-333-4444</span>
    </div>
    <div class="follow-us flex">
      <h3>Seguinos en:</h3>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
  <div class="terms flex">
    <a href="#">Términos y Condiciones <i class="fas fa-book-open"></i></a>
    <a href="#">Politica de Privacidad <i class="fas fa-exclamation-circle"></i></a>
  </div>
</footer>
