<header class="color-terciario">
  <div class="container">
    <i class="fas fa-bars menu"></i>
    <div class="container-logo">
      <img src="/img/logo-decamping.png" alt="logo" class="logo" />
    </div>
    <i class="far fa-user iconos-derecha"></i>
    <i class="fas fa-shopping-cart iconos-derecha"></i>
  </div>
  <div class="container-searchbar">
    <input type="text" class="search-bar shadow" placeholder="Buscar" />
  </div>
  <nav class="navegacion">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Camping</a></li>
      <li><a href="">Montaña</a></li>
      <li><a href="">Escalada</a></li>
      <li><a href="">SKI</a></li>
    </ul>
  </nav>
</header>
