<header class="color-terciario">
  <div class="container container-header">
    <i class="fas fa-bars menu"></i>
    <div class="container-logo">
      <a href="../">
        <img src="/img/logo-decamping.png" alt="Logo DeCamping.com" class="logo" />
      </a>
    </div>
    <div class="container-searchbar">
      <form action="#" class="container-form">
        <input type="text" class="search-bar" placeholder="Buscar..." />
        <button><i class="fas fa-search"></i></button>
      </form>
    </div>
    <a href="../users/search" class="iconos-derecha lupa">
      <i class="fas fa-search"></i>
    </a>
    <a href="../users/login" class="iconos-derecha">
      <i class="far fa-user"></i>
    </a>
    <a href="../products/productCart" class="iconos-derecha">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>

  <nav class="navegacion">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products/category/Camping">Camping</a></li>
      <li><a href="/products/category/Montañismo">Montañismo</a></li>
      <li><a href="/products/category/Escalada">Escalada</a></li>
      <li><a href="/products/category/SKI">SKI</a></li>
    </ul>
  </nav>
</header>
