<div class="product-wrapper">
  <article class="prod-destacado">
    <img src="<%= products.img %>" class="prod-img" alt="<%= products.name %>" />
    <div class="article-box">
      <p class="text-prices"><%= products.price %></p>
      <p class="discount-prices">30% OFF</p>
      <h3 class="text-description"><%= products.name %></h3>
    </div>
  </article>
</div>
