<html lang="en">
<head>
    <title>Administrador</title>
    <%- include("../partials/head.ejs") %>

</head>
<body>
  <header>
    <div class="container">
      <i class="fas fa-bars menu"></i>
      <div class="container-logo">
        <a href="../">
          <img src="/img/logo-decamping.png" alt="Logo DeCamping.com" class="logo" />
        </a>
      </div>
      <a href="../users/login" class="iconos-derecha">
        <i class="far fa-user"></i>
      </a>
      <a href="../products/productCart" class="iconos-derecha"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </header>
  
    <main>
        <h2 class="text-titles">Creador de productos</h2>
        <form action="/admin/product/" method="POST" class="register-form" enctype="multipart/form-data" >
            <div class="form-div">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name">
              </div>
              <div class="form-div">
                <label for="desc">Descripción</label>
                <input type="textarea" name="desc">
              </div>
              <div class="form-div">
                <label for="img">Imagen</label>
                <input type="file" name="img" id="img">
              </div>
              <div class="form-div">
                <label for="category">Categoría</label>
                <select name="category">
                  <option value="Camping">Camping</option>
                    <option value="Montañismo">Montañismo</option>
                    <option value="Escalada">Escalada</option>
                    <option value="SKI">SKI</option>
                  </select>
              </div>
              <div class="form-div">
                <label for="subcategory">Subcategorías</label>
                <select name="subcategory">
                    <option value="mochilas">Mochilas</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="carpas">Carpas</option>
                    <option value="para-dormir">Para dormir</option>
                  </select>
              </div>
              <div class="form-div">
                <label for="discount">Descuento</label>
                <input type="number" min="0" max="50" name="discount" />
              </div>
              <div class="form-div">
                <label for="starred">Destacado</label>
                <input type="checkbox" name="starred">
              </div>
              <div class="form-div">
                <label for="price">Precio</label>
                <input type="number" name="price">
              </div>

              <div class="form-div">
                <button class="boton-ppal color-primario" type="submit" >Crear producto</button>
              </div>

        </form>
    </main>
    
</body>
</html>