<html lang="en">
  <head>
    <title>Administrador</title>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <h2 class="text-titles">Creador de productos</h2>
      <form
        action="/admin/product"
        method="POST"
        class="register-form"
        enctype="multipart/form-data"
      >
        <div class="form-div">
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-div">
          <label for="description">Descripción</label>
          <input type="textarea" name="description" id="description" required />
        </div>
        <div class="form-div">
          <label for="img">Imagen</label>
          <input type="file" name="image" id="image" />
        </div>
        <div class="form-div">
          <label for="category">Categoría</label>
          <select name="category" id="category" required>
            <option value="" selected disabled>Elija una categoría</option>
            <option value="Camping">Camping</option>
            <option value="Montañismo">Montañismo</option>
            <option value="Escalada">Escalada</option>
            <option value="SKI">SKI</option>
          </select>
        </div>
        <div class="form-div">
          <label for="subcategory">Subcategorías</label>
          <select id="subcategory" name="subcategory" required>
            <option value="" selected disabled>Elija una sub-categoría</option>
            <option value="Carpas">Carpas</option>
            <option value="Camperas">Camperas</option>
            <option value="Pantalones">Pantalones</option>
            <option value="Accesorios">Accesorios</option>
            <option value="Elementos técnicos">Elementos técnicos</option>
          </select>
        </div>
        <div class="form-div">
          <label for="discount">Descuento</label>
          <input type="number" min="0" max="50" name="discount" id="discount" required />
        </div>
        <div class="form-div">
          <label for="starred">Destacado</label>
          <input type="checkbox" name="starred" id="starred" />
        </div>
        <div class="form-div">
          <label for="price">Precio</label>
          <input type="number" name="price" id="price" required />
        </div>
        <div class="form-div">
          <label for="stock">Unidades en stock</label>
          <input type="number" name="stock" id="stock" required />
        </div>
        <div class="form-div">
          <button class="boton-ppal color-primario" type="submit">Crear producto</button>
        </div>
      </form>
    </main>
  </body>
</html>
