<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h1 class="text-titles login-register">ACCESO USUARIO</h1>
      <div class="register-wrapper">
        <div class="content-wrapper-1">
          <form class="register-form" action="#" method="GET">
            <div class="form-div">
              <label class="form-label" for="">Correo electrónico</label>
              <input type="email" name="email" placeholder="Ej: ejemplo@gmail.com" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="">Contraseña</label>
              <input type="password" name="password" placeholder="Ingrese su contraseña" required />
            </div>
            <div class="form-div">
              <label class="remember-me" for=""
                ><input type="checkbox" name="rememberUser" value="rememberUser" />Recordarme</label
              >
            </div>
            <div class="form-div">
              <button class="boton-ppal color-primario" type="submit" href="#">REGISTRARSE</button>
            </div>
            <div class="form-div align-center">
              <a class="password-link" href="#">Olvidé mi contraseña</a>
            </div>
          </form>
          <hr class="simple-line" />
          <div class="login-footer">
            <i class="far fa-user login-icon"></i>
            <h3>Todavía no te registraste?</h3>
            <a href="/users/register"> <h2>CREAR UNA CUENTA</h2> </a>
            <hr class="decoration-line" />
          </div>
        </div>
        <div class="vertical-line-2"></div>
        <div class="content-wrapper-2">
          <div class="form-div">
            <i class="far fa-user login-icon"></i>
            <h3>Todavía no te registraste?</h3>
            <a href="/users/register"><h2>CREAR UNA CUENTA</h2></a>
            <hr class="decoration-line" />
          </div>
        </div>
      </div>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
